html {
	scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Avenir";
  color: #0b0b0b;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

h1 {
  font-family: "Style Script";
  font-weight: normal;
  color: #0b0b0b;
  font-size: 96px;
  /* text-shadow: 2px 2px #ff0000; */
}

h3 {
  font-family: "Avenir";
  font-weight: normal;
  color: #0b0b0b;
  font-size: 32px;
  line-height: 44px;
  font-weight: 300;
}
